{% extends "base.html" %}

{%block content %}
<h2>Добавление пользователя и образования</h2>

<form method="POST" class = "form-control" enctype="multipart/form-data">
<input type = "text" name = "name" placeholder="Имя" class="form-control" required> <br>
<input type = "text" name = "age" placeholder="Возраст" class="form-control" required> <br>
<input type = "text" name = "city" placeholder="Город" class="form-control" required> <br>
<input type = "text" name = "phone" placeholder="Телефон" class="form-control" required> <br>
<input type = "text" name = "tg" placeholder="Телеграм" class="form-control" required> <br>
        <input type="file" name="pic" />
        <button type = "submit">Отправить</button>
</form>
{%endblock%}
